
/*LoginForm.module.css*/


/* Container that centers everything */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7; 
  flex-direction: column; /* This stacks children vertically */
}

/* More Specific: Label in .loginBox */
.loginBox label {
  margin-bottom: 15px;  /* Overrides .loginContainer label */
}

/* Box that holds the login form */
.loginBox {

  width: 350px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 1px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Styling for each input group */
.inputGroup {
  margin-bottom: 100px;
}


.loginContainer label {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Darker shade for contrast */
  text-align: center;
  display: block;
  margin-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}

.loginBox label {
  font-size: 12px;
  font-weight: bold;
  color: #333; /* Darker shade for contrast */
  text-align: left;
  display: block;
  margin-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}

.loginBox input {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  margin-bottom: 15px; /* Overrides both above */
  border-radius: 4px;
}


/* targets all of the <label> 
elements inside the element with the class inputGroup */
.inputGroup label {
  display: block;
  margin-bottom: 5px; /* Overrides both above */
  font-weight: 600;
}




/*

*/
.inputGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/* Styling for the submit button */
.submitButton {
  width: 100%;
  padding: 10px;
  background-color: black !important;
  border: none;
  color: #fff;
  border-radius: 4px;
  border-color: black !important;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Styling for the submit button */
.inputGroup link {
  width: 50%;
  padding: 10px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}


.submitButton:hover {
  background-color: #0056b3;
}


