/*
*Should be used for global styles like fonts 
*Each component that you want styled needs to have it's own
*.css file, ex. LoginForm.tsx 
* css import order matters, files will override conflicting styles
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

